# Owners (in alphabetical order)
# Note: This is only for the notaryproject/.github repo and includes the Org level maintainers
@justincormack @mnm678 @niazfk @priteshbandi @shizhMSFT @stevelasker @toddysm