name: Build

on: [push, pull_request]

jobs:

  build:
    strategy:
      matrix:
        go: ['1.17.x', '1.16.x', '1.15.x']
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Format
      run: go fmt ./...

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
